[Unit]
Description=RFID reader webserver
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=idle
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=/opt/pi-rfid-reader/start-rfid-reader.sh
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
