[Unit]
Description=RFID reader webserver
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=idle
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /opt/pi-rfid-reader/src/app_reader.py --log /var/log/pi-rfid-reader/app.log --port 8080 --timeout 5
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
